Checks: >-
    bugprone-*,
    performance-*,
    modernize-*,
    readability-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-reserved-identifier,
    -modernize-avoid-c-arrays,
    -modernize-make-unique,
    -modernize-pass-by-value,
    -modernize-use-auto,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -performance-enum-size,
    -readability-braces-around-statements,
    -readability-enum-initial-value,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-math-missing-parentheses
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file